In [2]:
import numpy as np
import pandas as pd

In [42]:
work_time_sim = pd.read_pickle("work_time_sim.pkl")

In [43]:
work_time_sim

    1st 2nd 3rd 4th     H
mon  20   0   0  28  9500
tue   0   0   0   0  9500
wen   0  21   0   0  9500
thu   0   0  18  17  9500
fri   0   0   0   0  9500
sat   0   0  17   0  9500
sun   0   0   0   0  9500

In [71]:
week_all=[]
week_num = ["1st","2nd","3rd","4th"]
day_of_week = [0,1,2,3,4,5,6]
for i in week_num :
    for j in day_of_week :
        week_all.append(int(list(work_time_sim[i])[j]))

week_1st = week_all[0:7]
week_2nd = week_all[7:14]
week_3rd = week_all[14:21]
week_4th = week_all[21:28]

work_time = pd.DataFrame(week_1st, columns = ['1st'], index = ['mon','tue', 'wen' , 'thu' , 'fri' , 'sat' , 'sun'])
work_time['2nd'] = week_2nd
work_time['3rd'] = week_3rd
work_time['4th'] = week_4th
work_time['H'] = (9500)

work_time

     1st  2nd  3rd  4th     H
mon   20    0    0   28  9500
tue    0    0    0    0  9500
wen    0   21    0    0  9500
thu    0    0   18   17  9500
fri    0    0    0    0  9500
sat    0    0   17    0  9500
sun    0    0    0    0  9500

In [72]:
a = work_time['1st']
b = work_time['2nd']
c = work_time['3rd']
d = work_time['4th']
per_hour = work_time['H'][1]

week1 = a.sum()
week2 = b.sum()
week3 = c.sum()
week4 = d.sum()

x = [week1,week2,week3,week4]
work_time = []
work_wage = []

for i in x :
    if i <= 15 :
        i = i
        work_time.append(i)
        work_wage.append(i*per_hour)
        
    elif i <= 40 :
        i = i * 1.2
        work_time.append(i)
        work_wage.append(i*per_hour)
        
    else:
        i = i + 40 * 0.2
        work_time.append(i)
        work_wage.append(i*per_hour)
        
    
time_sum = sum(work_time)
work_sum = sum(work_wage)

In [73]:
time_sum

144.2

In [74]:
work_sum

1369900.0